body{
    margin: 0;
    padding: 0;
}



.heading{
    font-size: 24px;
    margin-left: 50px;
    margin-top: 40px;
}

header{
    display: flex;
    
}
ul{
    list-style: none;
    display: flex;
    width: 463px;
    height: 36px;
    margin-top: 50px;
}
li a{
    text-decoration: none;
    padding-right: 15px;
    color: black;
    font-weight: 300;
    font-size: 16px;
}

nav{
    float: right;
    margin-left: 600px;

}
<!------end header----->
.heading2{
    font-size: 52px;
}
.container{
width: 582px;
height: 270px;
margin-left: 50px;
margin-top: 120px;
border: 1px solid black;
}
.section1{
    display:flex ;
}
.main-img{
    width: 440px;
    height: 414px;
    padding-left: 150px;
    margin-top: 50px;
}
.link1{
    text-decoration: none;
    padding-right: 10px;
    font-size: 16px;
    color: black;
    background-color: #E02C6D;
    padding-inline-end: 10px;
    height: 44px;
    width: 196px;
    border-radius: 20px;
   padding: 10px;
}
.logo-images{
    width: 1110px;
    height: 110px;
    margin-left: 50px;
    padding: 10px;
 
  border: 2px outset black;
}
.loogo-img{
  padding-right:30px;
}
.heading3{
    margin-left: 588px;
}
.product-img{
    width: 300;
    height: 256px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.section2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin-left: 50px;
   
}
.products{
    width: 329px;
    height: 476px;
  
}
.rating{
    display: flex;

}
.fa-star{
    color: #FB8200;
}

