header{
    display: flex;
    
}
ul{
    list-style: none;
    display: flex;
}
li a{
    text-decoration: none;
    padding-right: 15px;
    color: black;
    font-weight: 300;
}

nav{
    float: right;
    margin-left: 600px;

}
