body{
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}



.heading{
    font-size: 24px;
}

    .header{
        display:flex;
        margin-left: 100px;
        margin-right:100px;
    }
ul{
    list-style: none;
    display: flex;
    width: 463px;
    height: 36px;
    margin-top: 50px;
}
li a{
    text-decoration: none;
    padding-right: 15px;
    color: black;
    font-weight: 300;
    font-size: 16px;
}

nav{
    float: right;
    margin-left: 600px;

}

.section1{
    margin-left: 100px;
    margin-right: 120px;
    background-image: url(images/Circle\ design.svg);
   background-repeat: no-repeat;
   background-position: right;
}
.section1{
    display:flex ;
}
.container{
width: 582px;
height: 270px;
margin-left: 50px;
margin-top: 120px;
border: 1px solid black;
}
.heading2{
    font-size: 52px;
}
.link1{
    text-decoration: none;
    padding-right: 10px;
    font-size: 16px;
    color: black;
    background-color: #E02C6D;
    
    height: 44px;
    width: 196px;
    border-radius: 20px;
   padding: 10px;
}


.main-img{
    width: 440px;
    height: 414px;
    padding-left: 150px;
    margin-top: 50px;
}


.main-img:hover{
    transform:scale(0.75) rotate(360deg) translate(100px);
    animation:transform 10s 5 1s  ;
}
@keyframes transform{
    0%{
left: 0;
    }
    50%{
    left: 50px;
    right:50px;
    }
    100%{
    left:100px;
    right: 100px;
    }
}

.logo-images{
    width: 1110px;
    height: 110px;
    margin-left: 100px;
    padding: 10px;
 margin-right: 120px;
  border: 2px outset black;
}
.loogo-img{
  padding-right:30px;
}
.heading3{
    margin-left: 588px;
}

.section2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 10px;
    margin-left: 200px;
   margin-right: 200px;
   flex-wrap: wrap;
}


.product-img{
    width: 300;
    height: 256px;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.product-info{
    margin: 10px;
}

.products{
    width: 329px;
    height: 476px;
  background-color:white;
  padding: 10px;
  margin-right: 10px;
  margin-top: 10px;
 border-radius: 5px;
 
}
@media (max-width:700px) {
    .section2{
        flex-direction: column;
    }
}
.rating{
    display: flex;

}
.fa-star{
    color: #FB8200;
}
.see-more{
  text-align: right;
  
   
}

footer{
    text-align: center;
    height:150px;
    width: 100%;
    background-color:darkgoldenrod;
    color: white;
    justify-content: center;
}
.footer-heading{
    font-size: 24px;
}
.footer-link{
    padding-left: 20px;
    color: black;
}

